<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metalspb.taskstracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />


    <!--Maps-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name="com.metalspb.taskstracker.ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgnNU53uGKyOOHg2Z5KVMc0w26tBdlB8E"/>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="taskstracker.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name="com.metalspb.taskstracker.ui.SplashScreenActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:launchMode= "singleTask"
            android:name="com.metalspb.taskstracker.ui.LoginActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:launchMode= "singleTask"
            android:name="com.metalspb.taskstracker.ui.RegistrationActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.REGISTRATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.metalspb.taskstracker.ui.MainActivity_"
            android:label="@string/menu_tasks"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTYVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.metalspb.taskstracker.ui.SettingsActivity"
            android:label="@string/menu_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTYVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.metalspb.taskstracker.ui.EditTaskActivity_"
            android:parentActivityName="com.metalspb.taskstracker.ui.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.metalspb.taskstracker.ui.NewTaskActivity_"
            android:parentActivityName="com.metalspb.taskstracker.ui.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <provider
            android:name="com.metalspb.taskstracker.backgroundTasks.sync.StubContentProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true"/>
     <!--   <service
            android:name=".FetchAddressIntentService"
            android:exported="false"/>-->

        <service
            android:name="com.metalspb.taskstracker.backgroundTasks.sync.TrackerAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>



        <service
            android:name="com.metalspb.taskstracker.backgroundTasks.sync.TrackerSyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <service
            android:name="com.metalspb.taskstracker.backgroundTasks.ServiceSample"
            android:enabled="true"/>

    </application>

</manifest>
